@model ClinicaMultiAfetos.Models.Paciente

@{
    ViewData["Title"] = "Detalhes paciente";
}

<h1>Detalhes Paciente</h1>

<div>
    <h4>Paciente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeCompleto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeCompleto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plano)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plano)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QueixaInicial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QueixaInicial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Responsavel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Responsavel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaiMae)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaiMae)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cpf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefoneContato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefoneContato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnderecoNumero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnderecoNumero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnderecoCidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnderecoCidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnderecoCep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnderecoCep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnderecoUf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnderecoUf)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PacienteId">Editar</a> |
    <a asp-action="Index">Voltar para Lista</a>
</div>
